<h2 class = 'text-center mt-4'>Events History</h2>

  <div class = 'container'>
    <div class = 'row justify-content-md-center'>
      <div class = 'col-8 mt-4'>
        <div class="card text-center shadow mb-5 bg-info rounded">
          <div>
           <h4 class="p-2 w-50 mx-auto mb-2 text-center text-white"> Events you created: <%= created_events.count%></h4>
          </div>
          <% created_events.order('created_at DESC').each do |event|%>
            <div class="col-sm-12">
              <%= link_to event_path(event), class:'text-decoration-none' do%>
                <div class="card light-red mb-4 text-center">
                  <div class="card-title text-dark py-2">
                    <p class="h4">Event Title:- <%= event.title%></p>
                  </div>
                  <div class="card-footer bg-light text-dark px-2">
                    <small class="">Date: [<%= event.date%>] </small>
                  </div>
                </div>
              <%end%>
           </div>
          <%end%>

          <h4 class="p-2 w-50 mx-auto mb-2 text-center text-white">Upcoming Events: <%= attended_events.where('date>?', Time.now).count%></h4>
          <% attended_events.where('date>?', Time.now).each do |event|%>
            <div class="col-sm-12">
              <%= link_to event_path(event), class:'text-decoration-none' do%>
                <div class="card light-red mb-4 text-center">
                  <div class="card-title text-dark py-2">
                    <p class="h4">Event Title:- <%= event.title%></p>
                  </div>
                  <div class="card-footer bg-light text-dark px-2">
                      <small class="">Event will be held in <%= time_ago_in_words(event.date)%> [<%= event.date%>] </small>
                  </div>
                </div>
              <%end%>
           </div>
          <%end%>

          <h4 class="p-2 w-50 mx-auto mb-2 text-center text-white">Previously attended: <%= attended_events.where('date<?', Time.now).count%></h4>
          <% attended_events.where('date<?', Time.now).each do |event|%>
            <div class="col-sm-12">
              <%= link_to event_path(event), class:'text-decoration-none' do%>
                <div class="card light-red mb-4 text-center">
                  <div class="card-title text-dark py-2">
                    <p class="h4">Event Title:- <%= event.title%></p>
                  </div> 
                    <small class="">Event will be held in <%= time_ago_in_words(event.date)%> [<%= event.date%>] </small>
                  </div>
                </div>
              <%end%>
           </div>
          <%end%>

        </div>
      </div>
    </div>
  </div>




