<div class="flickr_pagination">
<%= will_paginate @articles, :container => false %>
<% @events.each do |event, msg|%>
  <p class = 'text-danger'>
  Creator: <%= link_to event.creator.username, user_path(event)%> <br>
  Event Title: <%=link_to event.title, event_path(event) %> <br> 
  Event Description: <%=link_to event.description, event_path(event) %> <br>Will be held in
  | <%= event.date.day %> |
  <%= event.date.month%> |
  <%= event.date.year%> |
    </p>


<% end%>
</div>