<div class="container">
  <h1 class="p-2 w-50 mx-auto mb-2 text-center text-white">
    Upcoming events: <%=pluralize(@upcoming_events.count, 'Event')%>
  </h1>
  <div class="row pt-5 text-center shadow mb-5 bg-info rounded justify-content-md-center">
    <%= render "nextevents"%>
    <div class="">
      <%= will_paginate @upcoming_events%>
    </div>
  </div>


  <h1 class="p-2 w-50 mx-auto mb-2 text-center text-white">
    Past events: <%=pluralize(@past_events.count, 'Event')%>
  </h1>
  <div class="row justify-content-md-center">
    <%=render "pastevents" %>
    <div class="">
    <%= will_paginate @past_events%>
    </div>
  </div>

</div>
